.nav-item .active{
  font-weight:bold;
  color:blueviolet !important;
  border-bottom:2px solid blueviolet;


}
.container{
  /* background-color: red; */

}
h1{
  position:relative;
  left:40%;
  transform:translateY(50%);
  font-weight: bold;
}
/* input[type=text],input[type=password]{
  outline:none;
  width: 100%;   
        margin: 8px; 
        margin-top: 30px;
        
        postion:relative;
        right:200px;
        padding: 12px 20px;   
           
        border: 2px solid green;   
        box-sizing: border-box; 
        width: 500px;
        align-items: center;
        justify-content: center;
        dispaly:block;
        margin-left:225px;
     
} */
/* label{
  
  margin-top: 20px;
  position: relative;
  left:16%;
} */